/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*

General Styles

*/

body {
    font-family: permanent marker;
	
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}
section article p,
/*headings*/
h2{
    font-size: 300%;
}
h3{
    font-size: 150%;
    font-w
}


/*blockquote*/
blockquote{
    font-family: rokkitt,Time New Romen; 
    font-size:500%;

}
@font-face{
    font-family:
}


/*layout*/

h1.logo a {
	width: 80px;
	padding: 12px 10px;
	background: #1d1d1d;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	height: 72px;
}

.wrapper,
header,
footer {
	width: 940px;
	margin: 0px auto;
	padding: 0 10px 0 10px;
	position: relative;
}

.wrapper_header {
	border-top: 2px solid #1d1d1d;
	margin: 22px 0 0 0;
}

header {
	width: 940px;
	margin: 0px auto;
}

section {
	padding: 48px 0;
}

section.main {
	border-top: 2px solid #1d1d1d;
	padding-top: 46px;
}
section article{
    width: 70%;
    float: right;
    column-gap: 20px;
    column-count: 2;
}
section aside{
    width: 16.666%;
    float: left;
}
section after{
    clear: both;
    display: block;
    content: "";
    visibility: hidden;

}
.wrapper_footer{
    background-color: #1d1d1d;
}

footer{
    color: #fff;
    padding: 24px 0 48px 0;


}
footer ul{
    float:left;
    width: 22%;
    margin-left: 2%;
    margin-right: 2%;
    
}
footer::after{
    clear:both;
    content: "";
    display: block;
    
}
imput[type=text]{
    height: 1.8em;
    border: 1px solid#1d1d1d;
    position: absolute;
    top: 48px;
    right: 10px;
    padding: 0.4px;
    width: 12.5%;
    letter-spacing: 0.05em;
    transition: bord
    
}
imput[type=text]:focus{
    width:20%;
    font-size: 14px;
    height: 2em;
    
}



/*footer*/


/*search*/
